@import "tailwindcss";

/* Hilangkan scrollbar di semua browser */
html, body {
  overflow: hidden;
}

/* Untuk Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Untuk Firefox */
body {
  scrollbar-width: none;
}
